In [2]:
print(hi)

NameError: ignored

In [3]:
print("Hello")

Hello

In [4]:
print(1)

1

In [8]:
print(name)

NameError: ignored

In [18]:
# creation of dictionary
# Key will be either integers or strings

dict1 = {"name" : "Adi", "age" : 31, "city": 'tpty'}

print(dict1)

dict2 = {1 : "Adi", 2 : 31, 3: 'tpty'}

print(dict2)

{'name': 'Adi', 'age': 31, 'city': 'tpty'}
{1: 'Adi', 2: 31, 3: 'tpty'}

In [20]:
# Duplicates Keys won't exists ina dictionary, but duplicate values will be.

dict1 = {"name" : "Adi", "age" : 31, "city": 'tpty', "name":"Dileep"}

print(dict1)

{'name': 'Dileep', 'age': 31, 'city': 'tpty'}

In [21]:
# Duplicates Keys won't exists in a dictionary, but duplicate values will be.

dict1 = {"name" : "Adi", "age" : 31, "office": 'tpty',"home": 'tpty'}

print(dict1)

{'name': 'Adi', 'age': 31, 'office': 'tpty', 'home': 'tpty'}

In [47]:
lst = [1,[10,20,30,40],2,3,4]

print(lst)
print(lst[1][2])

lst[1] = 20

print(lst)

[1, [10, 20, 30, 40], 2, 3, 4]
30
[1, 20, 2, 3, 4]

In [44]:
# Values in a dictionary can be of any datatypes or python objects

dict1 = {"name" : "Adi", "cities": ['tpty','repalle','podili']} 

# print(dict1["name"])

dict1 = {"name" : "Adi", "cities": ['tpty','repalle','podili'], 'kids' : {'kid1': 'Jeshu','kid2': 'Vasudha'}} 

# print(dict1)
# print(dict1['kids']['kid2'])
print(dict1['kids']['kid2'].upper())

VASUDHA

In [71]:
tup1 = (1,2,3,4,5)

print(tup1[2])

3

In [ ]:
# Accessing a dictionary 

dict1 = {"name" : "Adi", "age" : 31, "office": 'tpty',"home": 'tpty'}

print(dict1["name"])

print(dict1["fname"])

In [48]:
# modifiation of a dictionary - can be done on key based only

dict1 = {"name" : "Adi", "age" : 31, "office": 'tpty',"home": 'tpty'}

print(dict1)

dict1['office'] = "renigunta"

print(dict1)

{'name': 'Adi', 'age': 31, 'office': 'tpty', 'home': 'tpty'}
{'name': 'Adi', 'age': 31, 'office': 'renigunta', 'home': 'tpty'}

In [51]:
# modifiation of a dictionary(Adding a new key into Dictionary) - can be done on key based only

dict1 = {"name" : "Adi", "age" : 31, "office": 'tpty',"home": 'tpty'}

print(dict1)

dict1['gender'] = 'male'
print(dict1)

dict1['dob'] = '1990-01-01'
print(dict1)

del dict1['name']

print(dict1)

{'name': 'Adi', 'age': 31, 'office': 'tpty', 'home': 'tpty'}
{'name': 'Adi', 'age': 31, 'office': 'tpty', 'home': 'tpty', 'gender': 'male'}
{'name': 'Adi', 'age': 31, 'office': 'tpty', 'home': 'tpty', 'gender': 'male', 'dob': '1990-01-01'}
{'age': 31, 'office': 'tpty', 'home': 'tpty', 'gender': 'male', 'dob': '1990-01-01'}

In [53]:
name = "Adi"

print(name)

del name

print(name)

Adi

NameError: ignored

In [75]:
tup1 = (1,2,3,4,5)

print(tup1[2])

def check_even_odd(n):
  if n % 2 == 0:
    return n,"Even",100
  else:
    return n,"Odd",101

# return type of above functions as a tuple
result = check_even_odd(10)

print(result[1])

a = 100

a[0]

3
Even

TypeError: ignored

In [77]:
def check_even_odd(n):
  if n % 2 == 0:
    return n,"Even",100
  else:
    return n,"Odd",101

# return type of above functions as a tuple
number,result,random_number = check_even_odd(10)

print(random_number)

100

In [83]:
def check_even_odd(n):
  if n % 2 == 0:
    return n,"Even"
  else:
    return n,"Odd"

# return type of above functions as a tuple
number,result = check_even_odd(10)

print(number,result)

10 Even

In [81]:
# Dictionary is iterable 
# When we iterate on a dictionary it will return only Keys

dict1 = {'name': 'Adi', 'age': 31, 'office': 'tpty', 'home': 'tpty', 'gender': 'male', 'dob': '1990-01-01'}

for x in dict1: # returns only keys, alternatively you can iterate on dict1.keys() also, it give the same result as dict1 iterable
  print(x)

name
age
office
home
gender
dob

In [88]:
"""
keys() - Dictionary Class Predefined method
  arguments - no args
  return - all the key in the dictions
"""

all_keys = dict1.keys()

keys_lst = list(all_keys)

# print(type(keys_lst))

for temp in dict1.keys():
  print(temp)

name
age
office
home
gender
dob

In [89]:
# Not recommended to use keywords as variable name not only in dictionary, but anywhere in tis Python world
keys = dict1.keys()

print(keys)

keys = dict1.keys()

print(keys)

dict_keys(['name', 'age', 'office', 'home', 'gender', 'dob'])
dict_keys(['name', 'age', 'office', 'home', 'gender', 'dob'])

In [92]:
lst1 = [1,2,3,4,5,6]
lst2 = [1,2,3,4,5,6]
# len - function
len = len(lst1) # 6
print(len)

# len - integer
len2 = len(lst2) # Error line, so don't use predefined functions/methods/classes as variabls

print(len2)

6

TypeError: ignored

In [94]:
"""
values() - Dictionary Class Predefined method
  arguments - no args
  return - all the values in the dictionary
"""

dict1 = {'name': 'Adi', 'age': 31, 'office': 'tpty', 'home': 'tpty', 'gender': 'male', 'dob': '1990-01-01'}

dict1_values = dict1.values()

# print(dict1_values)

for value in dict1.values():
  print(value)

Adi
31
tpty
tpty
male
1990-01-01

In [95]:
def check_even_odd(n):
  if n % 2 == 0:
    return n,"Even"
  else:
    return n,"Odd"

# return type of above functions as a tuple
number,result = check_even_odd(11)

print(number,result)

11 Odd

In [97]:
"""
items() - Dictionary Class Predefined method
  arguments - no args
  return - all the key,values in the dictionary object
"""

dict1 = {'name': 'Adi', 'age': 31, 'office': 'tpty', 'home': 'tpty', 'gender': 'male', 'dob': '1990-01-01'}

dict_keys_values = dict1.items()

print(dict_keys_values)

dict_items([('name', 'Adi'), ('age', 31), ('office', 'tpty'), ('home', 'tpty'), ('gender', 'male'), ('dob', '1990-01-01')])

In [102]:
dict1 = {'name': 'Adi', 'age': 31, 'office': 'tpty', 'home': 'tpty', 'gender': 'male', 'dob': '1990-01-01'}

for k,v in dict1.items(): # k,v => ('name': 'Adi')
  print(k,":",v)

name : Adi
age : 31
office : tpty
home : tpty
gender : male
dob : 1990-01-01

In [101]:
dict1 = {'name': 'Adi', 'age': 31, 'office': 'tpty', 'home': 'tpty', 'gender': 'male', 'dob': '1990-01-01'}

for dict_key,dict_value in dict1.items(): # dict_key,dict_value => ('name': 'Adi')
  print(dict_key,":",dict_value)

name : Adi
age : 31
office : tpty
home : tpty
gender : male
dob : 1990-01-01

In [105]:
lst1 = [1,2,3,4,5,6,6]

search_val = 6

for temp in lst1:
  if search_val == temp:
    print(search_val, "Search values exists")

6 Search values exists
6 Search values exists

In [107]:
lst1 = [1,2,3,4,5,6,6]

search_ele = 4

if lst in search_ele: # in lst1:
  print(search_val, "Search values exists")

TypeError: ignored

In [112]:
lst1 = [1,2,3,4,5,6]

search_ele = 400

if search_ele in lst: # in lst1:
  print(search_ele, "Search values exists")
else:
  print(search_ele, "Search values doesn't exists")

400 Search values doesn't exists