In [ ]:
"""
Data Structure
Lists - Very very important
Tuple
Set
Dictionary  - Very very important
Strings  - Very very important
"""

In [ ]:
lst = [10,20,30,40]

lst[1] = 300

print(lst)

[10, 300, 30, 40]

In [ ]:
# tuple - enlosed with these braces ()
# Immutable - Can't be modified/changed once assigned or created
# In tuple indexing concept is same as in list
# Ordering is preserved in both list and tuple
# These are iterable just like list

"""
Functions
min
max
len
sum
"""
tup1 = (10,20,30,40)

print(tup1[1])

# tup1[1] = 200 you can re-assign as it is a tuple

print(tup1)

20
(10, 20, 30, 40)

In [ ]:
a = (10,)

type(a)

tuple

In [ ]:
# Accesing a tuple by passing it as an iterable to for loop

tup1 = (10, 20, 30, 40)
for temp in tup1:
  print(temp)

10
20
30
40

In [ ]:
# Accesing a tuple by index using for loop

tup1 = (10, 20, 30, 40)

for temp in range(len(tup1)):
  # print("tup1[{temp}]".format(temp = temp))
  print(tup1[temp])

10
20
30
40

In [ ]:
tup1 = (10, 20, 30, 40)

print(tup1[1:3])

(20, 30)

In [ ]:
name = "Dileep "

name = name + "Kumar"

print(name)

Dileep Kumar

In [ ]:
tup1 = (10, 20, 30, 40)

tup1 = tup1 + (50,60)

print(tup1)

(10, 20, 30, 40, 50, 60)

In [ ]:
# Methods in tuples
# count
# index
tup1 = (10, 20, 30, 40,10,20,10)

count_10 = tup1.count(10)

print(count_10)

3

In [ ]:
# index
# Return first occurence index of the specified value in arguments
tup1 = (10, 20, 30, 40,10,20,10)

index_40 = tup1.index(40)
print(index_40)

3

In [ ]:
# index
# Return first occurence index of the specified value in arguments
tup1 = (10, 20, 30, 40,10,20,10)

index_40 = tup1.index(400)
print(index_40)

In [ ]:
lst = [1,2,3,4,5,6]

tup1 = tuple(lst)

print(tup1)

(1, 2, 3, 4, 5, 6)

In [ ]:
tup1 = (10, 20, 30, 40,10,20,10)

lst = list(tup1)

print(lst)

[10, 20, 30, 40, 10, 20, 10]

In [ ]:
a = 10
print(type(a))

a = str(a)

print(type(a))

print((a,))

name = "Dileep"

print(name)

<class 'int'>
<class 'str'>
('10',)
Dileep

In [ ]:
# Sets
lst = []
tup1 = (5,)

print(len(tup1))

for temp in tup1:
  print("Hello")

1
Hello