In [9]:
lst = [1,2,3]
# 4
lst[3] = 4

print(lst)

IndexError: ignored

In [17]:
lst = [1,2,3]
lst1 = [3,4,5]

lst.extend(lst1)

#lst = lst + lst1

print(lst)

[1, 2, 3, 3, 4, 5]

In [20]:
lst = [1,2,3,4,5]

lst =lst + [None]

print(lst)

[1, 2, 3, 4, 5, None]

In [28]:
for temp in range(5,1,-1):
  print(temp)

5
4
3
2

In [29]:

lst = [10,20,30,40,50, None]

for temp in range(5,2,-1):
  print(temp)

5
4
3

In [32]:

lst = [10,20,30,40,50]

lst[3] = lst[2]

print(lst)

[10, 20, 30, 30, 50]

In [33]:
lst = [10,20,30,40,50]

lst[4] = lst[3] # [10,20,30,40,40]
lst[3] = lst[4] # [10,20,30,40,40]

print(lst)

[10, 20, 30, 40, 40]

In [34]:
# Swapping elements
lst = [10,20,30,40,50]

temp = lst[4] # temp = 50
lst[4] = lst[3]
lst[3] = temp

print(lst)

[10, 20, 30, 50, 40]

In [47]:
lst = [30,20,40,10,50,10,5]
sorted_list = []
print(lst)

min_value = min(lst) # min_value = 5
sorted_list.append(min_value) # [5]
lst.remove(min_value) #  [30,20,40,10,50,10]
print("Minimum Value : ", min_value)
print(lst)


min_value = min(lst) # min_value = 10
sorted_list.append(min_value) # [5, 10]
print("Minimum Value : ", min_value)
lst.remove(min_value) #  [30,20,40,50,10]
print(lst)

min_value = min(lst) # min_value = 10
sorted_list.append(min_value)  # [5, 10, 10]
print("Minimum Value : ", min_value)
lst.remove(min_value) #  [30,20,40,50,10]
print(lst)


min_value = min(lst) # min_value = 20
sorted_list.append(min_value)  # [5, 10, 10, 20]
print("Minimum Value : ", min_value)
lst.remove(min_value) #  [30,40,50]
print(lst)

print(sorted_list)

[30, 20, 40, 10, 50, 10, 5]
Minimum Value :  5
[30, 20, 40, 10, 50, 10]
Minimum Value :  10
[30, 20, 40, 50, 10]
Minimum Value :  10
[30, 20, 40, 50]
Minimum Value :  20
[30, 40, 50]
[5, 10, 10, 20]

In [49]:
lst = [30,20,40,10,50,10,5]
sorted_list = []
print(lst)

for temp in range(len(lst)): 
  min_value = min(lst) 
  sorted_list.append(min_value) 
  lst.remove(min_value)
print(sorted_list)

[30, 20, 40, 10, 50, 10, 5]
[5, 10, 10, 20, 30, 40, 50]