In [ ]:
"""
String Methods

capitalize()

count()

startswith()

endswith()

find()

format()

index()

isalnum()

isalpha()

split()

join()

zfill()
"""

In [15]:
for temp in 'Adi':
  print(temp)

A
d
i

In [ ]:
"""
Iterables - list, range, string,
List - Mutable - Can be modified without re-assignment
String - Immutable - Must be re-assigned to another variable or same variable after applying string methods
"""

In [94]:

a = 10
b = 10
print(id(a))
print(id(b))

11122880
11122880

In [29]:
lst1 = [1,2,3,4,5,6,7,8]

print(id(lst1))

lst1.append(10)

print(id(lst1))

140301857135664
140301857135664

In [30]:
str1 = "python is easy"
print(id(str1))

str1 = str1.capitalize()
print(id(str1))

140301857161456
140301856683760

In [31]:
"""
Method Calling - variable =  object_name.methods_name(args if any)
Methods - capitalize()
  Description : converts first character in your string to capital
  Arguments : No Args
  Return Value/Type : Capitalised string 
"""
str1 = "python is easy"

str2 = str1.capitalize()

print(str1)

print(str2)

python is easy
Python is easy

In [34]:
"""
Method Calling - variable =  object_name.methods_name(args if any)
Methods - count()
  Description : Returns occurences/count of the given string in arguments
  Arguments : any string or character which you want to search
  Return Value/Type : Number
"""

str1 = "python is easy easy"

cnt = str1.count('s')

print(str1)

print(cnt)


str1 = "python is easy easy"

cnt = str1.count('easy')

print(str1)

print(cnt)

python is easy easy
3
python is easy easy
2

In [ ]:
"""
Method Calling - variable =  object_name.methods_name(args if any)
Methods - startswith()
  Description : Check if the input string start with the given string in arguments
  Arguments : any string or character which you want to search
  Return Value/Type : Returns either true or false
"""

str1 = "python is easy easy"

result1 = str1.startswith("py")

result2 = str1.startswith("sql")

print(result1, result2)

In [38]:
"""
Method Calling - variable =  object_name.methods_name(args if any)
Methods - endswith()
  Description : Check if the input string ends with the given string in arguments
  Arguments : any string or character which you want to search
  Return Value/Type : Returns either true or false
"""

str1 = "python is easy easy"

result1 = str1.endswith("easy")

result2 = str1.endswith("sql")

print(result1, result2)

True False

In [41]:
"""
Method Calling - variable =  object_name.methods_name(args if any)
Methods - find()
  Description : Returns the starting index for first occurence of the string provided in arguments from the main string
  Arguments : any string or character which you want to search
  Return Value/Type : Returns index of its occurence, if not available returns -1
"""

str1 = "python is easy easy"

result1 = str1.find("easy")

print(result1)

result1 = str1.find("sql")

print(result1)

10
-1

In [43]:
"""
Method Calling - variable =  object_name.methods_name(args if any)
Methods - format()
  Description : Replace the {} with provided values in arguments of format
  Arguments : Any number of arguments and anything based on your need/requirement
  Return Value/Type : Returns a string after replacing with the values in the arguments
"""

str1 = "I am {name}, I am learning {language}"

str2 = str1.format(name = "Adi", language = "SQL")

print(str1)

print(str2)

I am {name}, I am learning {language}
I am Adi, I am learning SQL

In [52]:
"""
Method Calling - variable =  object_name.methods_name(args if any)
Methods - index()
  Description : 
  Arguments : 
  Return Value/Type : 
"""
str1 = "I am Adi, I am learning SQL"

result1 = str1.find("Narayana")
print(result1)
result2 = str1.index("Narayana")

print(result2)

help(str1.find)

-1

ValueError: ignored

In [63]:
str1 = "abc123A"

print(str1.upper())

ABC123A

In [64]:
"""
Method Calling - variable =  object_name.methods_name(args if any)
Methods - split()
  Description : Splits the given string based on the delimiter provided in the argument
  Arguments : one argument, i.e. delimiter
  Return Value/Type : Returns a list (list only)
"""
str1 = "Adi|Narayana|python"

str_lst = str1.split("|")

print(str_lst)

['Adi', 'Narayana', 'python']

In [65]:
str1 = "Adi|Narayana,python"

str_lst = str1.split("|")

print(str_lst)

['Adi', 'Narayana,python']

In [66]:
str1 = "Adi|Narayana,python"

str_lst = str1.split(",")

print(str_lst)

['Adi|Narayana', 'python']

In [68]:
str1 = "Adi|Narayana python"

str_lst = str1.split(",")

print(str_lst)

['Adi|Narayana python']

In [71]:
"""
Method Calling - variable =  object_name.methods_name(args if any)
Methods - join()
  Description : Forms a string for the iterable passed in the argument based on the delimiter string object
  Arguments : one argument, i.e. iterable
  Return Value/Type : Returns a string(Always a string)
"""

lst = [1,2,3,4,5,6,7]

str_lst = []

for temp in lst:
  str_lst.append(str(temp))
print(str_lst)

final_str = "|".join(str_lst)

print(final_str)

['1', '2', '3', '4', '5', '6', '7']
1|2|3|4|5|6|7

In [74]:

lst = [1,2,3,4,5,6,7]

str_lst = []

for temp in lst:
  str_lst.append(str(temp))
print(str_lst)

my_delimiter = "#"
final_str = my_delimiter.join(str_lst)

print(final_str)

['1', '2', '3', '4', '5', '6', '7']
1#2#3#4#5#6#7

In [75]:
str1 = "Python"

print("|".join(str1))

P|y|t|h|o|n

In [ ]:
# append() - list class pre-defined method
# list - mutable - Original list will be modified
# strings - immutable - Original string can't be modified, we have to re-assign the returned value

lst1 = [1,2,3,4,5]
print(lst)
lst1.append(100)
print(lst)


for temp in range(5) : # 0,1,2,3,4
  print(temp)

In [ ]:
str1 = "python and sql"

In [76]:
lst1 = []

lst1.append(0)
lst1.append(1)
lst1.append(2)
lst1.append(3)
lst1.append(4)

print(lst1)

[0, 1, 2, 3, 4]

In [77]:
lst1 = []

for temp in range(5):
  lst1.append(temp)

print(lst1)

[0, 1, 2, 3, 4]

In [79]:
lst1 = [] # 1,2,3,4,5

for temp in range(5):
  lst1.append(temp + 1)

print(lst1)

[1, 2, 3, 4, 5]

In [92]:
for temp1 in range(5):
  print("SQL and Python")
  for temp2 in range(2):
    print("\tNow learn Hadoop")

SQL and Python
	Now learn Hadoop
	Now learn Hadoop
SQL and Python
	Now learn Hadoop
	Now learn Hadoop
SQL and Python
	Now learn Hadoop
	Now learn Hadoop
SQL and Python
	Now learn Hadoop
	Now learn Hadoop
SQL and Python
	Now learn Hadoop
	Now learn Hadoop

In [ ]:
for temp1 in range(4):
  print("SQL and Python")
  for temp2 in range(5):
    print("\tNow learn Hadoop")

In [91]:
for temp1 in range(4): # 0,1,2,3
  print("SQL and Python")
  for temp2 in range(temp1,5): 
    print("\tNow learn Hadoop")

SQL and Python
	Now learn Hadoop
	Now learn Hadoop
	Now learn Hadoop
	Now learn Hadoop
	Now learn Hadoop
SQL and Python
	Now learn Hadoop
	Now learn Hadoop
	Now learn Hadoop
	Now learn Hadoop
SQL and Python
	Now learn Hadoop
	Now learn Hadoop
	Now learn Hadoop
SQL and Python
	Now learn Hadoop
	Now learn Hadoop

In [90]:
for temp1 in range(4): # 0,1,2,3
  print("SQL and Python")
  a = 3
  for temp2 in range(a,5): 
    print("\tNow learn Hadoop")

SQL and Python
	Now learn Hadoop
	Now learn Hadoop
SQL and Python
	Now learn Hadoop
	Now learn Hadoop
SQL and Python
	Now learn Hadoop
	Now learn Hadoop
SQL and Python
	Now learn Hadoop
	Now learn Hadoop