In [1]:
print("Hello")

Helo

In [2]:
a = 100
b = 20

print(a/b)

5.0

In [6]:
print(50/0)

ZeroDivisionError: ignored

In [7]:
name = 'Dileep'
print(fname)

NameError: ignored

In [8]:
lst = [1,2,3,4,'Python']
max(lst)

TypeError: ignored

In [16]:
# x = int(input("Enter a number only : "))
print("hello1")
print("hello2")
try:
  print()
  print(100/0)
except :
  pass
  #print("Please don't enter zero")
print("hello3")
print("hello4")
print("hello5")

hello1
hello2
hello3
hello4
hello5

In [21]:
lst = [1,2,3,4,'Python']
# x = int(input("Enter a number only : "))
print("hello1")
print("hello2")
try:
  # print(max(lst))
  print("Hey")
  print(100/0)
  print("Bye")
except :
  pass
  #print("Please don't enter zero")
print("hello3")
print("hello4")
print("hello5")

hello1
hello2
Hey
hello3
hello4
hello5

In [24]:
lst = [1,2,3,4,'Python']
# x = int(input("Enter a number only : "))
print("hello1")
print("hello2")
try:
  print(max(lst))
  print("Hey")
  print(100/0)
  print("Bye")
except :
  # pass
  print("Please don't divide with zero")
print("hello3")
print("hello4")
print("hello5")

hello1
hello2
Please don't divide with zero
hello3
hello4
hello5

In [37]:
del name

In [50]:
lst = [1,2,3,4,'Python']
# x = int(input("Enter a number only : "))
print("hello1")
print("hello2")
try:
  print(max(lst))
  print("Hey")
  print(100/0)
  print("Bye")
except Exception as e:
  print(e)
  print(type(e))
  # print(e.args)
  # print(e.with_traceback)

print(max(lst))
print("hello3")
print("hello4")
print("hello5")

hello1
hello2
name 'name' is not defined
<class 'NameError'>

TypeError: ignored

In [48]:
lst = [1,2,3,4,5]
# print(lst)
#print(*lst)

tup1 = (1,2,3,4,5)
print(tup1)
print(*tup1)

(1, 2, 3, 4, 5)
1 2 3 4 5

In [52]:
lst = [1,2,3,4,'Python']
# x = int(input("Enter a number only : "))
print("hello1")
print("hello2")
try:
  print(name)
  print("hello3")
  print("hello4")
except Exception as e:
  print(e)
  print(type(e))
  print("hello3")
  print("hello4")
  # print(e.args)
  # print(e.with_traceback)

print("hello5")
print("hello6")

hello1
hello2
name 'name' is not defined
<class 'NameError'>
hello3
hello4
hello5
hello6

In [53]:
lst = [1,2,3,4,'Python']
# x = int(input("Enter a number only : "))
print("hello1")
print("hello2")
try:
  print(name)
except Exception as e:
  print(e)
  print(type(e))
finally:
  print("hello3")
  print("hello4")
  # print(e.args)
  # print(e.with_traceback)

print("hello5")
print("hello6")

hello1
hello2
name 'name' is not defined
<class 'NameError'>
hello3
hello4
hello5
hello6

In [ ]:
# statement

try:
  # statement1
  # statement2
  # statement3
  pass
except Exception as e:
  # statement1
  print(str(e))
  pass

In [57]:
lst = [1,2,3,4,'Python']
# x = int(input("Enter a number only : "))
print("hello1")
print("hello2")
try:
  print("load data into table 1")
  print(100/0)
  print("load data into table 2")
except Exception as e:
  print(e)
  print("trunctate table 1")
  print("trunctate table 2")
  print("trunctate table 100")
  raise Exception(e)

print("hello5")
print("hello6")

hello1
hello2
load data into table 1
division by zero
trunctate table 1
trunctate table 2
trunctate table 100
hello5
hello6